{% extent 'base.html' %}

<title>{% block title %}Books Application Site{%endblock%}</title>

{% block sidebar%}
{{block.super}}
<ul>
    <li><a href="/books/">Books_Home</a></li>
</ul>
{% endblock sidebar %}