{% extends 'base_book.html' %}

{% block content %}

    <h1>{{ object.title }}</h1>
    <br>
    <li>Authors : 
        {% for author in object.authors.all %}
            {{ author }}
            {% if not forloop.last %},{% else %}{% endif %}
        {% endfor %}
    </li>
    <li>
        Publisher : {{ object.publisher }}
    </li>
    <li>
        Publication date : {{ object.publication_date }}
    </li>

{% endblock content %}